.body{
    width: 630px;
    height: 630px;
}

.h1wrapper{
    margin:0 auto;
    text-align: center;
}

.emulator{
    border: 2px solid dodgerblue;
    border-radius: 18px;
    height:620px;
    width:620px;
    margin:0 auto;
    align-items: center;
}

.splashScreen{
    border: 2px solid dodgerblue;
    border-radius: 18px;
    height:620px;
    width:620px;
    background-color: #3498db;
    display: none;
}

.brand{
    padding-top:210px;
    padding-left: 98px;
    color: white;
    font-size: 90px;
    display: none;
    font-style: italic;
}

.container-fluid{
    height:500px;
    width:500px;
    margin:0 auto;
}