.container {
	background-color: #F5F5F5;
	border: 1px #e4e4e4 solid;
	height: 320px;
	width: 320px;
}

.topLeft, .topRight, .bottomLeft, .bottomRight {
	border: 1px #e4e4e4 solid;
	height: 159px;
	width: 159px;
}

.imgCenter {
	margin: 0 auto;
}

.putBottom {
	position: absolute;
	top: 270px;
}

.pad {
	padding-left: 16px;
}

.addBorder {

}

a {
	color: inherit;
	text-decoration: none;
}

.bgimg {
	background-image: url("../img/navPH.png");
	background-size: cover;
}